body {
  margin: 0;
}

header {
  background-color: #9DC08B;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 0;
  color: #FFFFFF;
}

nav {
  background-color: #609966;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #609966;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #40513B;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}
