body {
  background-color: #3C6255;
  color: #61876E;
  font-family: Arial, sans-serif;
}

header {
  background-color: #A6BB8D;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 0;
  color: #EAE7B1;
}

nav {
  background-color: #8DEAE7;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #EAE7B1;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #61876E;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #5B1876;
  padding: 10px;
  text-align: center;
  color: #EAE7B1;
}
